# Functions in Python

Python Functions is a block of statements that return the specific task.

The idea is to put some commonly or repeatedly done tasks together and make a function so that instead of writing the same code again and again for different inputs, we can do the function calls to reuse code contained in it over and over again. 

Syntax: Python Functions 

Creating a Python Function
We can create a  Python function using the def keyword.

In [1]:
# A simple Python function
 
def fun():
    print("Welcome to Techvarsity")
    


#calling function
fun()
fun()
fun()

Welcome to Techvarsity
Welcome to Techvarsity
Welcome to Techvarsity

Defining and calling a function with parameters
If you have experience in C/C++ or Java then you must be thinking about the return type of the function and data type of arguments. That is possible in Python as well (specifically for Python 3.5 and above).

Syntax: Python Function with parameters 

 def function_name(parameter: data_type) -> return_type:
    """Doctring"""
    # body of the function
    return expression

In [1]:
def sayHello():
    """ This is function for Greeting purpose ."""
    
    print("Hello World!!!")
    print("This is simple default function")
    print("A basic function with no parameters and no return type")
    
print(sayHello)
print(sayHello.__doc__) #special attribute - return doc string
sayHello()

<function sayHello at 0x0000022D884F9580>
This is function for Greeting purpose .
Hello World!!!
This is simple default function
A basic function with no parameters and no return type

In [4]:
def add(n1,n2):
    """returns sum of inputs"""
    print(f'{n1} {n2}')# 
    print("data type of n1 ",type(n1))
    print("data type n2 ",type(n2))
    total=n1+n2
    return total

#note that data type of n1 and n2 i.e. function params decided based on literals data type.
print(add(10,20)) #30
print("........................................................................................................................................")
print(add("Tata ","Tech")) #string concetenation
print("........................................................................................................................................")
print(add(10.7,8.9)) #float addition
print("........................................................................................................................................")
print(add([1,2,3,4],[5,6,7,8])) 
print("........................................................................................................................................")
print(add((1,2,3),(4,5,6)))
print("........................................................................................................................................")

10 20
data type of n1  <class 'int'>
data type n2  <class 'int'>
30
........................................................................................................................................
Tata  Tech
data type of n1  <class 'str'>
data type n2  <class 'str'>
Tata Tech
........................................................................................................................................
10.7 8.9
data type of n1  <class 'float'>
data type n2  <class 'float'>
19.6
........................................................................................................................................
[1, 2, 3, 4] [5, 6, 7, 8]
data type of n1  <class 'list'>
data type n2  <class 'list'>
[1, 2, 3, 4, 5, 6, 7, 8]
........................................................................................................................................
(1, 2, 3) (4, 5, 6)
data type of n1  <class 'tuple'>
data type n2  <class 'tuple'>
(1, 2, 3, 4, 5, 6)
........................................................................................................................................

In [5]:
add(10,20,30) #positional arguments

TypeError: add() takes 2 positional arguments but 3 were given

In [6]:
add() #required arguments

TypeError: add() missing 2 required positional arguments: 'n1' and 'n2'

In [9]:
#default argument
def display(name,role='intern',age=21):
    print("Name ",name)
    print("Role ",role)
    print("Age ",age)
    
display("Sachin")

Name  Sachin
Role  intern
Age  21

In [10]:
display(name="Rahul",role='GET',age=22)

Name  Rahul
Role  GET
Age  22

In [11]:
display("Gitanjali","education specialist",30)

Name  Gitanjali
Role  education specialist
Age  30

In [12]:
display(23,"Rohit","Solutions developer")

Name  23
Role  Rohit
Age  Solutions developer

In [9]:
display()

TypeError: display() missing 1 required positional argument: 'name'

In [10]:
display("Sachin ","Developer")

Name  Sachin
Role  Developer
Age  21

In [11]:
display("Developer","Sachin")

Name  Developer
Role  Sachin
Age  21

In [13]:
#keyword arguments
display(age=25,role="Devp",name="Sachin")

Name  Sachin
Role  Devp
Age  25

In [13]:
display(Age=25,role="Devp",name="Sachin")

TypeError: display() got an unexpected keyword argument 'Age'. Did you mean 'age'?

In [14]:
def display(empid,name):
    print(empid)
    print(name)

display(1010,'Sachin')

1010
Sachin

In [15]:
display(10,'Sachin','Tendulkar')

TypeError: display() takes 2 positional arguments but 3 were given

In [16]:
display(10,'Sachin tendulkar')

10
Sachin tendulkar

In [17]:
# internally python stores varargs as tuple - as tuples are immutable
def display(empid,*name):
    '''Variable length arguments'''
    
    print(empid)
    print(name)

display(1010,'Sachin','tendulkar')

1010
('Sachin', 'tendulkar')

In [18]:
display(1001, 'Sachin','Ramesh','Tendulkar')

1001
('Sachin', 'Ramesh', 'Tendulkar')

In [19]:
display(1001, 'Crickter','Sachin','Ramesh','Tendulkar')

1001
('Crickter', 'Sachin', 'Ramesh', 'Tendulkar')

In [20]:
def sum(name,*mark):
    """to return total marks using Variable length arguments """

    #print(id(name))
    total=0 #local variable
    print("Name ",name)
    print("Total subjects are ",len(mark))
    print("data type of mark ",type(mark))
    
    for i in mark:
        total+=i
    
    
    print("Total Marks are ",total)
    

sum("Sachin")

Name  Sachin
Total subjects are  0
data type of mark  <class 'tuple'>
Total Marks are  0

In [21]:
sum("Sachin",10,23,34,56)

Name  Sachin
Total subjects are  4
data type of mark  <class 'tuple'>
Total Marks are  123

In [22]:
sum("Sachin ",49,34,45,67,56)

Name  Sachin
Total subjects are  5
data type of mark  <class 'tuple'>
Total Marks are  251

In [23]:
sum("Sachin ",49,56)

Name  Sachin
Total subjects are  2
data type of mark  <class 'tuple'>
Total Marks are  105

In [22]:
# some more functions
def is_prime(n):
    if n in [2, 3]:
        return True
    
    if (n == 1) or (n % 2 == 0):
        return False
    
    r = 3
    while r * r <= n:
        if n % r == 0:
            return False
        r += 2
    return True


print(is_prime(78), is_prime(79),is_prime(98),is_prime(37))

False True False True

Arguments of a Python Function
Arguments are the values passed inside the parenthesis of the function. A function can have any number of arguments separated by a comma.

In this example, we will create a simple function to check whether the number passed as an argument to the function is even or odd.

In [23]:
# A simple Python function to check
# whether x is even or odd
 
 
def evenOdd(x):
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")
 
 
# Driver code to call the function
evenOdd(2)
evenOdd(3)

even
odd

## Types of Arguments
Python supports various types of arguments that can be passed at the time of the function call. Letâ€™s discuss each type in detail.

Default arguments
A default argument is a parameter that assumes a default value if a value is not provided in the function call for that argument. The following example illustrates Default arguments.

In [24]:
# Python program to demonstrate
# default arguments
 
 
def myFun(x, y=50):
    print("x: ", x)
    print("y: ", y)
 
 
# Driver code (We call myFun() with only
# argument)
myFun(10)

x:  10
y:  50

Keyword arguments
The idea is to allow the caller to specify the argument name with values so that caller does not need to remember the order of parameters.

In [25]:
# Python program to demonstrate Keyword Arguments
def student(firstname, lastname):
    print(firstname, lastname)
 
 
# Keyword arguments
student(firstname='Training', lastname='Practice')
student(lastname='Practice', firstname='Training')

Training Practice
Training Practice

Variable-length arguments
In Python, we can pass a variable number of arguments to a function using special symbols. There are two special symbols:

*args (Non-Keyword Arguments)
**kwargs (Keyword Arguments)
Example 1: Variable length non-keywords argument

In [26]:
# Python program to illustrate
# *args for variable number of arguments
 
 
def myFun(*argv):
    for arg in argv:
        print(arg)
 
 
myFun('Hello', 'Welcome', 'to', 'Techvarsity')

Hello
Welcome
to
Techvarsity

Docstring
The first string after the function is called the Document string or Docstring in short. This is used to describe the functionality of the function. The use of docstring in functions is optional but it is considered a good practice.

The below syntax can be used to print out the docstring of a function:

Syntax: print(function_name.__doc__)
Example: Adding Docstring to the function

In [34]:
# A simple Python function to check
# whether x is even or odd
 
 
def evenOdd(x):
    """Function to check if the number is even or odd"""
     
    if (x % 2 == 0):
        print("even")
    else:
        print("odd")
 
 
# Driver code to call the function
print(evenOdd.__doc__)
evenOdd(123)

Function to check if the number is even or odd
odd

Return statement in Python function
The function return statement is used to exit from a function and go back to the function caller and return the specified value or data item to the caller. 

 

Syntax: 

return [expression_list]
The return statement can consist of a variable, an expression, or a constant which is returned to the end of the function execution. If none of the above is present with the return statement a None object is returned.

Example: Python Function Return Statement

In [27]:

def square_value(num):
    """This function returns the square
    value of the entered number"""
    return num**2
 
 
print(square_value(2))
print(square_value(-4))

4
16

## Pass by Reference or pass by value
One important thing to note is, in Python every variable name is a reference. When we pass a variable to a function, a new reference to the object is created.

In [27]:
def add(n1,n2):
    print(f"{n1} is {id(n1)}")
    print(f"{n2} is {id(n2)}")
    print(n1+n2)

    n1=25
    n2=52

    print(f"{n1} is {id(n1)}")
    print(f"{n2} is {id(n2)}")
    print(n1+n2)

#print(add(20,40))

x=int(input("enter n1"))
y=int(input("enter n2"))
print(f"{x} is {id(x)}")
print(f"{y} is {id(y)}")
add(x,y)

enter n1 34
enter n2 78

34 is 140723190179784
78 is 140723190181192
34 is 140723190179784
78 is 140723190181192
112
25 is 140723190179496
52 is 140723190180360
77

In [29]:
# Here x is a new reference to same list list1
def myFun(x):
    x[0] = 20
    print(x,id(x))
 
 
# Driver Code (Note that lst is modified )# after function call.
list1 = [10, 11, 12, 13, 14, 15]
print("List before function call ",list1,"id is ",id(list1))

myFun(list1) # x and list1 will have same reference

print("List after function call ",list1,"id is ",id(list1))

List before function call  [10, 11, 12, 13, 14, 15] id is  2363476674880
[20, 11, 12, 13, 14, 15] 2363476674880
List after function call  [20, 11, 12, 13, 14, 15] id is  2363476674880

In [30]:
# Here x is a new reference to same list list1
def myFun(x):
    x[0] = 20
    print(x,id(x)) 
 
# Driver Code (Note that lst is modified )# after function call.
list1 = [10, 11, 12, 13, 14, 15]
print("original list ",list1,id(list1))

myFun(list1)

print("list after calling function ",list1,id(list1))

original list  [10, 11, 12, 13, 14, 15] 2394590202560
[20, 11, 12, 13, 14, 15] 2394590202560
list after calling function  [20, 11, 12, 13, 14, 15] 2394590202560

In [31]:
def change(mylist):
    print(mylist,' ',id(mylist))
    
    for i in mylist:
        print(i,end=" ")
    
    
    print()
    # explicitly change reference to another list
    mylist=[1,2,3,4,5,6]
    print(mylist,' ',id(mylist))


lst = [10, 11, 12, 13, 14, 15]
print("List before function call ",lst,"id is ",id(lst))
change(lst)
print("List after function call ",lst,"id is ",id(lst))

List before function call  [10, 11, 12, 13, 14, 15] id is  2363476848704
[10, 11, 12, 13, 14, 15]   2363476848704
10 11 12 13 14 15
[1, 2, 3, 4, 5, 6]   2363476212672
List after function call  [10, 11, 12, 13, 14, 15] id is  2363476848704

In [33]:
# pass by reference 

def change(mylist):
    print(" Input list - function arg",mylist,' ',id(mylist))
    
    for i in mylist:
        print(i,end=" ")
  
      
    print()
    mylist.clear() #
    mylist.extend([1,2,3,4,5,6])
    print("After Processing function arg",mylist,' ',id(mylist))


lst = [10, 11, 12, 13, 14, 15]
print("Input list ",lst,' ',id(lst))
change(lst)
print("Input list ",lst,' ',id(lst))

Input list  [10, 11, 12, 13, 14, 15]   2363477050496
 Input list - function arg [10, 11, 12, 13, 14, 15]   2363477050496
10 11 12 13 14 15
After Processing function arg [1, 2, 3, 4, 5, 6]   2363477050496
Input list  [1, 2, 3, 4, 5, 6]   2363477050496

## lambda is small anonymous function >> function without any name
#  lambda multiple parameters : single expression

In [34]:
total=lambda num1,num2:num1+num2
print(total)

<function <lambda> at 0x000002264A2C71A0>

In [35]:
total(10,20)

30

In [36]:
def getTotal(num1,num2):
    return num1+num2

print(getTotal)
getTotal(20,40)

<function getTotal at 0x000002264A2532E0>

60

In [35]:
print(total(10,20)) #lambda expression total executes

30

In [37]:
squared=lambda x:x*x
squared(10)

100

In [38]:
simple_interest=lambda p,roi,time:(p*roi*time)/100
simple_interest(100000,8.5,5)

42500.0

In [39]:
def multiplier(num):
    """Function returns lambda function"""
    return lambda a:a*num 

doubled=multiplier(2) # lambda a:a*2
print(doubled(99))

tripled=multiplier(3)
print(tripled) #lambda a:a*3

fifer=multiplier(5)
print(fifer) #lambda a:a*5
print(fifer(12))

198
<function multiplier.<locals>.<lambda> at 0x000002264A2C76A0>
<function multiplier.<locals>.<lambda> at 0x000002264A2C79C0>
60

In [39]:
print(doubled(10)) #20
print(doubled(7)) #14
print(fifer(10)) #50
print(tripled(10)) #30

20
14
50
30

In [40]:
var=lambda a:a*2
print(var(3))

6

In [41]:
for i in range(11):
    print(doubled(i))

0
2
4
6
8
10
12
14
16
18
20

In [42]:
squared=lambda x:x*x
print(squared)
print(squared(25))

<function <lambda> at 0x0000022D88B33C40>
625

In [43]:
si=lambda p,r,t:(p*r*t)/100
print(si(100000,8.5,5))

42500.0

In [44]:
def calculate_si(p,r,t):
    return (p*r*t)/100

In [48]:
def square(x):
    return x * x

numbers = [1, 2, 3, 4]
result = map(square, numbers)
print(result)
print(list(result))

<map object at 0x0000022649E69090>
[1, 4, 9, 16]

In [52]:
temperature_farenheit=[45.0,55.2,61.1,49.8,98,95.6,102,104.5]
normalize_celcius=lambda f:round((f-32)*5/9,2)
normalize_celcius(45.0)

7.22222

In [53]:
for i in temperature_farenheit:
    print(normalize_celcius(i)) #called lambda function for every list item

7.22222
12.88889
16.16667
9.88889

In [54]:
normalized_mapped_temperature=list(map(normalize_celcius,temperature_farenheit))
normalized_mapped_temperature

[7.22222, 12.88889, 16.16667, 9.88889]

In [55]:

a = [1, 2, 3]
b = [4, 5, 6]
result = map(lambda x, y: x + y, a, b)
print(list(result))  # Output: [5, 7, 9]

[5, 7, 9]

In [60]:
#ADAS confidence optimizer

confidence_score=[0.55,0.88,0.30,0.93,0.60,0.67]

label=lambda c:"Valid" if c>=0.60 else "Discard"

labeled_list=list(map(label,confidence_score))
print(labeled_list)
filtered=list(filter(lambda c:c>=0.60,confidence_score))
filtered

['Discard', 'Valid', 'Discard', 'Valid', 'Valid', 'Valid']

[0.88, 0.93, 0.6, 0.67]

In [56]:
for i in "Message":
    print(i)

M
e
s
s
a
g
e

In [58]:
for i in range(20):
    print(square(i))

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361

In [1]:
nums=[]

for x in range(10):
    nums.append(x)
    
nums

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
squared_nums=[]

for x in range(10):
    squared_nums.append(x*x)
    
squared_nums

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
[x*x for x in nums] ## list comprehension generates new list by processing existing list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
nums=[10,12,45,23,67,32]
squared_nums=[]
even_nums=[]
for i in nums:
    if i%2==0:
        even_nums.append(i)
    #squared_nums.append(i*i)
    #print(i*i)

even_nums

[10, 12, 32]

In [62]:
nums=[10,12,45,23,67,32]
z=[x*x for x in nums]
z

[100, 144, 2025, 529, 4489, 1024]

In [63]:
[x for x in nums] #display all numbers from nums list

[10, 12, 45, 23, 67, 32]

In [64]:
[x for x in nums if x%2==0] #display only even numbers

[10, 12, 32]

In [65]:
[x for x in nums if x%2!=0] #display only odd numbers

[45, 23, 67]

In [5]:
result=[]
for x in range(50):
    if x%2==0:
        if x%3==0:
            result.append(x)


result

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [66]:
[x for x in range(50) if x%2==0 if x%3==0] #numbers which are divisible by 2 , 3 and both

[0, 6, 12, 18, 24, 30, 36, 42, 48]

In [67]:
[x for x in nums if not x%2==0]

[45, 23, 67]

In [68]:
[x for x in range(50) if x%2!=0] #print odd numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [9]:
[(y,x) for x,y in[(11,12),(13,14),(5,8),(9,13)]]

[(12, 11), (14, 13), (8, 5), (13, 9)]

In [69]:
[(y+5,x-5) for x,y in[(11,12),(13,14),(5,8),(9,13)]]

[(17, 6), (19, 8), (13, 0), (18, 4)]

In [10]:
[x for x in range(50) if x%2==0 if not x%5==0]

[2, 4, 6, 8, 12, 14, 16, 18, 22, 24, 26, 28, 32, 34, 36, 38, 42, 44, 46, 48]

In [11]:
nums2=[1,22,3,13,4,1,2,3,14,5,4,3,34,5,6,7,1,2,44,3,5,6,7,11,12,15,17,16,21,19,18]
nums2

[1,
 22,
 3,
 13,
 4,
 1,
 2,
 3,
 14,
 5,
 4,
 3,
 34,
 5,
 6,
 7,
 1,
 2,
 44,
 3,
 5,
 6,
 7,
 11,
 12,
 15,
 17,
 16,
 21,
 19,
 18]

In [12]:
len(nums2)

31

In [13]:
unique_nums=[]
unique_nums=[i for i in nums2 if nums2.count(i)==1]
unique_nums

[22, 13, 14, 34, 44, 11, 12, 15, 17, 16, 21, 19, 18]

In [14]:
len(unique_nums)

13

In [6]:
nums2=[1,22,3,13,4,1,2,3,14,5,4,3,34,5,6,7,1,2,44,3,5,6,7,11,12,15,17,16,21,19,18]
print(nums2)
labels=["Even" if n%2==0 else "Odd" for n in nums2]
labels

[1, 22, 3, 13, 4, 1, 2, 3, 14, 5, 4, 3, 34, 5, 6, 7, 1, 2, 44, 3, 5, 6, 7, 11, 12, 15, 17, 16, 21, 19, 18]

['Odd',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Odd',
 'Odd',
 'Even',
 'Odd',
 'Odd',
 'Even']

In [7]:
vehicles=[{'type':'car','mileage':15},
          {'type':'bike','mileage':45},
          {'type':'car','mileage':18},
          {'type':'truck','mileage':8},
          {'type':'bike','mileage':35}]
vehicles

[{'type': 'car', 'mileage': 15},
 {'type': 'bike', 'mileage': 45},
 {'type': 'car', 'mileage': 18},
 {'type': 'truck', 'mileage': 8},
 {'type': 'bike', 'mileage': 35}]

In [8]:
len(vehicles)

5

In [15]:
# Map transform each item

def kpml_to_mpg(vehicle):
    vehicle['mileage']=vehicle['mileage']*2.35 #approx conversion
    return vehicle

mapped_instance=map(kpml_to_mpg,vehicles)
print(mapped_instance)

updated_list=list(mapped_instance)
updated_list

<map object at 0x000002CC40971C30>

[{'type': 'car', 'mileage': 82.8375},
 {'type': 'bike', 'mileage': 248.51250000000002},
 {'type': 'car', 'mileage': 99.40500000000002},
 {'type': 'truck', 'mileage': 44.18000000000001},
 {'type': 'bike', 'mileage': 193.2875}]

In [11]:
#filter - select items based on a condition

def is_efficient(vehicle):
    return vehicle['mileage']>40

efficient_vehicles=list(filter(is_efficient,vehicles))
efficient_vehicles

[{'type': 'bike', 'mileage': 105.75},
 {'type': 'car', 'mileage': 42.300000000000004},
 {'type': 'bike', 'mileage': 82.25}]

In [14]:
from functools import reduce
total=0
def sum_mileage(total,vehicle):
    return total+vehicle['mileage']

total_mileage=reduce(sum_mileage,vehicles,0)
total_mileage

284.35

In [16]:
vehicles = [
    {'reg_no': 'MH12AB1234', 'type': 'SUV', 'mileage': 32000, 'urgency': 4, 'service': 'Brake Check', 'customer': 'Regular'},
    {'reg_no': 'MH14XY9876', 'type': 'Sedan', 'mileage': 15000, 'urgency': 2, 'service': 'Oil Change', 'customer': 'Premium'},
    {'reg_no': 'MH01CD4321', 'type': 'Hatchback', 'mileage': 45000, 'urgency': 5, 'service': 'Full Service', 'customer': 'Regular'},
    {'reg_no': 'MH02EF7654', 'type': 'SUV', 'mileage': 10000, 'urgency': 3, 'service': 'Oil Change', 'customer': 'Premium'},
]

service_labels=[
    (v['reg_no'],v['customer'],"Low" if v['mileage']<15000 else "Medium" if v['mileage']<=30000 else "High") for v in vehicles
]
service_labels

[('MH12AB1234', 'Regular', 'High'),
 ('MH14XY9876', 'Premium', 'Medium'),
 ('MH01CD4321', 'Regular', 'High'),
 ('MH02EF7654', 'Premium', 'Low')]

In [34]:
vehicles = [
    {'reg_no': 'MH12AB1234', 'type': 'SUV', 'mileage': 32000, 'urgency': 4, 'service': 'Brake Check', 'customer': 'Regular','type':"petrol",'emission':120},
    {'reg_no': 'MH14XY9876', 'type': 'Sedan', 'mileage': 15000, 'urgency': 2, 'service': 'Oil Change', 'customer': 'Premium','type':"diesel",'emission':180},
    {'reg_no': 'MH01CD4321', 'type': 'Hatchback', 'mileage': 45000, 'urgency': 5, 'service': 'Full Service', 'customer': 'Regular','type':"diesel",'emission':200},
    {'reg_no': 'MH02EF7654', 'type': 'SUV', 'mileage': 10000, 'urgency': 3, 'service': 'Oil Change', 'customer': 'Premium','type':"petrol",'emission':90},
]

alert_list=[v['reg_no'] for v in vehicles if v['emission']>150 and v['type']=='diesel']
alert_list

['MH14XY9876', 'MH01CD4321']

In [19]:
vehicles_list=[v['reg_no'] for v in vehicles if v['type']=='petrol']
vehicles_list

['MH12AB1234', 'MH02EF7654']

In [35]:
vehicles_list=[v for v in vehicles if v['type']=='petrol']
vehicles_list

[{'reg_no': 'MH12AB1234',
  'type': 'petrol',
  'mileage': 32000,
  'urgency': 4,
  'service': 'Brake Check',
  'customer': 'Regular',
  'emission': 120},
 {'reg_no': 'MH02EF7654',
  'type': 'petrol',
  'mileage': 10000,
  'urgency': 3,
  'service': 'Oil Change',
  'customer': 'Premium',
  'emission': 90}]

In [36]:
from functools import reduce

vehicles = [
    {'reg_no': 'MH12AB1234', 'type': 'SUV', 'mileage': 32000, 'urgency': 4, 'service': 'Brake Check', 'customer': 'Regular','type':"petrol",'emission':120},
    {'reg_no': 'MH14XY9876', 'type': 'Sedan', 'mileage': 15000, 'urgency': 2, 'service': 'Oil Change', 'customer': 'Premium','type':"diesel",'emission':180},
    {'reg_no': 'MH01CD4321', 'type': 'Hatchback', 'mileage': 45000, 'urgency': 5, 'service': 'Full Service', 'customer': 'Regular','type':"diesel",'emission':200},
    {'reg_no': 'MH02EF7654', 'type': 'SUV', 'mileage': 10000, 'urgency': 3, 'service': 'Oil Change', 'customer': 'Premium','type':"petrol",'emission':90},
]

# Step 1: Filter diesel vehicles with emission > 150
filtered = filter(lambda v: v['emission'] > 150 and v['type'] == 'diesel', vehicles)
print(filtered)

# Step 2: Map to registration numbers
mapped = map(lambda v: v['reg_no'], filtered)

# Step 3: Sort the registration numbers
sorted_list = sorted(mapped)

print(sorted_list)
# Optional Step 4: Reduce to a single comma-separated string (if needed)
alert_string = reduce(lambda x, y: x + ', ' + y, sorted_list)

print("Sorted Alert List:", sorted_list)
print("Alert String:", alert_string)

<filter object at 0x000001ED711C03A0>
['MH01CD4321', 'MH14XY9876']
Sorted Alert List: ['MH01CD4321', 'MH14XY9876']
Alert String: MH01CD4321, MH14XY9876

In [37]:
from functools import reduce

vehicles = [
    {'reg_no': 'MH12AB1234', 'type': 'SUV', 'mileage': 32000, 'urgency': 4, 'service': 'Brake Check', 'customer': 'Regular','type':"petrol",'emission':120},
    {'reg_no': 'MH14XY9876', 'type': 'Sedan', 'mileage': 15000, 'urgency': 2, 'service': 'Oil Change', 'customer': 'Premium','type':"diesel",'emission':180},
    {'reg_no': 'MH01CD4321', 'type': 'Hatchback', 'mileage': 45000, 'urgency': 5, 'service': 'Full Service', 'customer': 'Regular','type':"diesel",'emission':200},
    {'reg_no': 'MH02EF7654', 'type': 'SUV', 'mileage': 10000, 'urgency': 3, 'service': 'Oil Change', 'customer': 'Premium','type':"petrol",'emission':90},
]

# Step 1: Filter diesel vehicles with emission > 150
filtered = filter(lambda v: v['emission'] > 150 and v['type'] == 'diesel', vehicles)

# Step 2: Reduce to group by customer type
grouped_alerts = reduce(lambda acc, v: {
    **acc,
    v['customer']: sorted(acc.get(v['customer'], []) + [v['reg_no']])
}, filtered, {})

print(grouped_alerts)

{'Premium': ['MH14XY9876'], 'Regular': ['MH01CD4321']}

In [17]:

from functools import reduce

# ==========================
# Sample Employee Dataset
# ==========================
employees = [
    {'emp_id': 'E101', 'name': 'Amit', 'department': 'Finance', 'role': 'Manager', 'salary': 1800000, 'appraisal_score': 85, 'overtime_hours': 60, 'work_mode': 'Remote', 'leave_days': 12, 'training_status': 'Pending'},
    {'emp_id': 'E102', 'name': 'Neha', 'department': 'Operations', 'role': 'Executive', 'salary': 900000, 'appraisal_score': 70, 'overtime_hours': 55, 'work_mode': 'Onsite', 'leave_days': 8, 'training_status': 'Completed'},
    {'emp_id': 'E103', 'name': 'Raj', 'department': 'HR', 'role': 'Manager', 'salary': 1600000, 'appraisal_score': 92, 'overtime_hours': 20, 'work_mode': 'Remote', 'leave_days': 15, 'training_status': 'Pending'},
    {'emp_id': 'E104', 'name': 'Sara', 'department': 'Finance', 'role': 'Analyst', 'salary': 750000, 'appraisal_score': 60, 'overtime_hours': 30, 'work_mode': 'Onsite', 'leave_days': 5, 'training_status': 'Completed'},
]

# ==========================
# Functions for Each Scenario
# ==========================
def categorize_performance(data):
    return [
        (e['emp_id'], "Low" if e['appraisal_score'] < 65 else "Medium" if e['appraisal_score'] <= 80 else "High")
        for e in data
    ]

def high_overtime_operations(data):
    return [e['emp_id'] for e in data if e['overtime_hours'] > 50 and e['department'] == 'Operations']

def remote_employees(data):
    return [e['emp_id'] for e in data if e['work_mode'] == 'Remote']

def high_salary_managers(data):
    filtered = filter(lambda e: e['salary'] > 1500000 and e['role'] == 'Manager', data)
    print(list(filtered))
    mapped = map(lambda e: e['emp_id'], filtered)
    sorted_ids = sorted(mapped)
    print(sorted_ids)
    alert_string = reduce(lambda x, y: x + ', ' + y, sorted_ids) if sorted_ids else ""
    return sorted_ids, alert_string

def group_pending_training(data):
    filtered_training = filter(lambda e: e['training_status'] == 'Pending', data)
    return reduce(lambda acc, e: {
        **acc,
        e['department']: sorted(acc.get(e['department'], []) + [e['emp_id']])
    }, filtered_training, {})

def group_leave_days(data):
    filtered_leave = filter(lambda e: e['leave_days'] > 10, data)
    return reduce(lambda acc, e: {
        **acc,
        e['department']: sorted(acc.get(e['department'], []) + [e['emp_id']])
    }, filtered_leave, {})


print("Performance Labels:", categorize_performance(employees))
print("High Overtime in Operations:", high_overtime_operations(employees))
# ==========================
# Execute All Scenarios
# ==========================
"""
print("================ Scenario 1: Categorization & Filtering ================")
print("Performance Labels:", categorize_performance(employees))
print("High Overtime in Operations:", high_overtime_operations(employees))
print("Remote Employees:", remote_employees(employees))

print("\n================ Scenario 2: Functional Approach ================")
sorted_ids, alert_string = high_salary_managers(employees)
print("Sorted Manager IDs with High Salary:", sorted_ids)
print("Comma-separated IDs:", alert_string)

print("\n================ Scenario 3: Grouping with Reduce ================")
print("Employees with Pending Training grouped by Department:", group_pending_training(employees))
print("Employees with Leave Days > 10 grouped by Department:", group_leave_days(employees))
"""

Performance Labels: [('E101', 'High'), ('E102', 'Medium'), ('E103', 'High'), ('E104', 'Low')]
High Overtime in Operations: ['E102']

'\nprint("================ Scenario 1: Categorization & Filtering ================")\nprint("Performance Labels:", categorize_performance(employees))\nprint("High Overtime in Operations:", high_overtime_operations(employees))\nprint("Remote Employees:", remote_employees(employees))\n\nprint("\n================ Scenario 2: Functional Approach ================")\nsorted_ids, alert_string = high_salary_managers(employees)\nprint("Sorted Manager IDs with High Salary:", sorted_ids)\nprint("Comma-separated IDs:", alert_string)\n\nprint("\n================ Scenario 3: Grouping with Reduce ================")\nprint("Employees with Pending Training grouped by Department:", group_pending_training(employees))\nprint("Employees with Leave Days > 10 grouped by Department:", group_leave_days(employees))\n'

In [19]:
x=range(10)
x

range(0, 10)

In [20]:
list(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
res=[x*x for x in range(10)] 
print(res,type(res))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81] <class 'list'>

In [21]:
res=(x*x for x in range(10)) 
print(res,type(res))

<generator object <genexpr> at 0x000002CC40F8D150> <class 'generator'>

In [22]:
next(res)

0

In [23]:
next(res)

1

In [24]:
next(res)

4

In [25]:
next(res)

9

In [26]:
next(res)
next(res)
next(res)
next(res)
next(res)

64

In [27]:
next(res)

81

In [28]:
next(res)

StopIteration:

In [29]:
res=(x*x for x in range(5))

for i in res:
    print(i)

0
1
4
9
16

In [31]:
#user defined generater

def my_code_gen():
    yield 1235
    yield 4567
    yield 7890
    

my_code_gen()

In [34]:
next(my_code_gen())

1235

In [35]:
next(my_code_gen())

1235

In [36]:
#user defined function

def my_code_gen2():
    
    return 7890
    

my_code_gen2

In [37]:
my_code_gen2()

7890

In [38]:
res=my_code_gen()
res

In [39]:
for i in res:
    print(i)

1235
4567
7890

In [40]:
res=my_code_gen()
res

In [41]:
next(res)

1235

In [42]:
next(res)

4567

In [43]:
next(res)

7890

In [44]:
next(res)

StopIteration:

In [45]:
vehicle_speeds=[88,102,96,120,85,145,99,130]

def overspeed_alert(logs):
    for speed in logs:
        if speed>100:
            yield speed #generator yields value one by one


#using generator
alert_gen=overspeed_alert(vehicle_speeds)

#print overspeeding values

for speed in alert_gen:
    print(f'Alert !!! Overspeed detected {speed} km/h')

Alert !!! Overspeed detected 102 km/h
Alert !!! Overspeed detected 120 km/h
Alert !!! Overspeed detected 145 km/h
Alert !!! Overspeed detected 130 km/h

In [59]:
list(overspeed_alert(vehicle_speeds))

[102, 120, 145, 130]